name: Playwright Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: read

env:
  FRONTEND_DIRECTORY: packages/frontend
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup node & pnpm version
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: |
          pnpm i --frozen-lockfile
          pnpm -C ${{ env.FRONTEND_DIRECTORY }} exec playwright install --with-deps

      - name: Run Playwright tests
        run: |
          ./build-scripts/generate-env.sh
          pnpm -C ${{ env.FRONTEND_DIRECTORY }} test:e2e

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ${{ env.FRONTEND_DIRECTORY }}/playwright-report/
          retention-days: 30
