name: Playwright Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: read

env:
  FRONTEND_DIRECTORY: packages/frontend
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup node & pnpm version
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: |
          pnpm i --frozen-lockfile
          pnpm -C ${{ env.FRONTEND_DIRECTORY }} exec playwright install --with-deps

      - name: Run Playwright tests
        run: |
          ./build-scripts/generate-env.sh
          pnpm -C ${{ env.FRONTEND_DIRECTORY }} test:e2e

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ${{ env.FRONTEND_DIRECTORY }}/playwright-report/
          retention-days: 30
