name: Publish Cloudflare Workers

on:
  release:
    types:
      - released

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to action
permissions:
  contents: read
  deployments: write
  statuses: write
  id-token: write

concurrency:
  group: "workers"
  cancel-in-progress: false

env:
  BACKEND_DIRECTORY: packages/backend

jobs:
  # Deployment job
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup node & pnpm version
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: pnpm i

      - name: Deploy
        id: cloudflare_workers_deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN_FOR_BACKEND }}
          workingDirectory: ${{ env.BACKEND_DIRECTORY }}

      - name: Add publish URL as commit status
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const sha = context.payload.pull_request?.head.sha ?? context.sha;
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              context: 'Cloudflare Workers',
              description: 'Cloudflare Workers deployment',
              state: 'success',
              sha,
              target_url: "${{ steps.cloudflare_workers_deploy.outputs.deployment-url }}",
            });
