name: Pull Request for Backend

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

permissions:
  contents: read

env:
  BACKEND_DIRECTORY: packages/backend

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup node & pnpm version
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: |
          pnpm i --frozen-lockfile

      - name: Lint Check
        run: pnpm -C ${{ env.BACKEND_DIRECTORY }} exec conc pnpm:circular pnpm:lint

  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup node & pnpm version
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: |
          pnpm i --frozen-lockfile

      - name: Run Unit Test
        run: pnpm -C ${{ env.BACKEND_DIRECTORY }} test
