name: Pull Request for Renovate

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

permissions:
  contents: read

env:
  RENOVATE_TESTER_DIRECTORY: tools/renovate-tester

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup node & pnpm version
        uses: ./.github/actions/setup-node-pnpm

      - name: Install Dependencies
        run: |
          pnpm i --frozen-lockfile

      - name: Run Test With Dry Run
        run: |
          pnpm -C ${{ env.RENOVATE_TESTER_DIRECTORY }} test
